<div class="container position-relative">
    <div class="row align-items-center" style="height: 400px; overflow: hidden;">
        <div class="image-container">
            <img class="w-100" src="/images/banner-cover.jpg" alt="">
        </div>
        <div class="position-absolute" style="background: rgba(51, 51, 51, 0.8);
        color: #fff;
        width: 100%;
        height: 100%;">
            <div class="ms-5 position-absolute top-50 start-0 translate-middle-y">
                <h1>Online Movie Ticket Booking</h1>
                <p class="lead">Enjoy Online Ticket Booking For Movies Near You With this website.</p>
                <p class="lead"> If you are planning for movie ticket bookings for the upcoming movies near you, don't look any</p>
            </div>
        </div>
    </div>
</div>