<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Add Movies</title>
</head>

<body>
    <%- include("./partials/navigation.ejs") %>

        <div class="container">
            <div class="row">
                <div class="col col-md-6 mx-auto py-5">
                    <form class="border rounded p-5">
                        <h3 class="text-center my-2">Add your items</h3>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Date</label>
                            <input type="date" id="date" class="form-control" min="" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="number" min="1" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>
            <%- include("./partials/scripts.ejs") %>
                <script>
                    const today = new Date().toISOString().split('T')[0];
                    const inputDate = document.querySelector("#date");
                    inputDate.setAttribute('min', today);
                </script>
</body>

</html>