<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Add Movies</title>
</head>

<body style="height: 100vh;">
    
    <%- include("./partials/sidebar.ejs") %> 

        

    
    <%- include("./partials/scripts.ejs") %>

</body>

</html>