<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/navigation.ejs") %>

        <div class="container" >
            <div class="row align-items-center" style="min-height: 70vh;">
                <h1>Error</h1>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>
        <%- include("./partials/scripts.ejs") %>
                
</body>

</html>