<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/navigation.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col col-md-6 mx-auto py-5">
                <h1>movies</h1>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
    <%- include("./partials/scripts.ejs") %>
            
</body>

</html>